---
layout: default
---

<div class="home"></div>
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <table>
        <td>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div class="post-meta">{{ post.date | date: date_format }}</div>
          {%- assign category = post.categories | join: " " -%}
          <div class="post-category">{{ category }}/</div>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          {{ post.excerpt }}
        </td>
        {%- if post.image -%}
          <td>
            <img src="images/{{post.image}}">
          </td>
        {%- endif -%}
      </table>
    </li>
    {%- endfor -%}
  </ul>

</div>
